<mat-card class="card-form-contact">
  <mat-card-content>
      <mat-form-field>
          <input matInput placeholder="Nom"/>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Prénom"/>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="N° de téléphone"/>
      </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end">
      <button mat-stroked-button color="accent">Ajouter</button>
      <button mat-stroked-button color="warn">Annuler</button>
  </mat-card-actions>
</mat-card>
